<html>
  <head>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <!--Let browser know website is optimized for mobile-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>

  <body>
    <main></main>
    <nav>
      <div class="nav-wrapper #0091ea light-blue accent-4">
        <a href="#" class="brand-logo center">Rongo Search Engine</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <!-- <li>{{ documents }}</li> -->
        </ul>
      </div>
    </nav>
    <div class="container">
    <div class="row">
    <form method="POST">
      <input name="variable" data-length="100">
      <button class=" #0091ea light-blue accent-4 center btn waves-effect waves-light" type="submit" name="action">search
        <i class="material-icons right">send</i>
      </button>
  </form>
</div>
  <div class="container">
    <h3>Results</h3>
    <ol start="1">
    {% if results %}
    {% for each in results %}
    
       <li><a href="{{ each[0] }}">{{ each[0] }}</a> <span>ranking {{ each[1] }}</span></li>
    <hr>
    {% endfor %}
    {%else%}
    <li>Not found</li>
    {% endif %}
  </ol>
  </div>
  </div>
    <!--JavaScript at end of body for optimized loading-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
      $(document).ready(function() {
      $('input#input_text, textarea#textarea2').characterCounter();
    });
    </script>
    </main>
    <footer class="page-footer">
       <div class="footer-copyright">
         <div class="container">
          <p>Copyright &copy; <script>document.write(new Date().getFullYear())</script>  All Rights Reserved</p>
          <a class="grey-text text-lighten-4 right" href="https://joshuadev.herokuapp.com">About Developer</a>
        </div>
      </div>
    </footer>
  </body>
</html>
      